extends layout

mixin postSummary(post)
    h4= post.attributes.dateString
    h2= post.attributes.title
    h3= post.attributes.author.name
    
    .article
        p= post.attributes.description
        //- p= post.path

block content

  ul
    each article in articles
      +postSummary(article)
      hr
