extends layout

//- mixin postSummary(post)
//-     h2= post.attributes.title
//-     h3= post.attributes.author.name
//-     h4= post.attributes.date
//-     .article
//-         p= post.body

block content

  h2 Test posts
  ul
    each article in articles
      h1= article.attributes.title
