doctype html
//- header.site-header
//-   .container-fluid
//-     h1.navbar-brand Site header test
       
html(lang='en')
  head
    title= title
    link(rel="stylesheet", href='https://cdn.auth0.com/styleguide/latest/index.css')
  body
  
    .banner
      a(href='/')
          h1 A Blog
  
    block content
